<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/aboutstyle.css">
    <title>About me.</title>
</head>
<body>
    <div class="backhome"><a href="http://127.0.0.1:5000/">homepage</a></div>
    <div class="titulo"><h1>About me.</h1> <img src="../IMAGENES/foto.jpg" alt="Foto personal"/></div>
    
    <div class="info"><p>My name is Daniel José Carías Campos, I'm a college student at ESEN studying economics engineering, currently I'm at the 3rd year of my carreer. 
        I'm a person who likes to work in his free time, i think that the way you can learn the most is by doing professional practices and facing the 
        problems that life has for you day to day.</p></div>

    <div class="gustos"><p>Things I like to do:<br />
        - Reading books that help me self-improve and become a better person, books that have to do with monetary growing, and books that help you change 
        the perspective you have i many things.<br />
        - Take proyects from my family business and learn from society's problems<br />
        - Being active in a sport, competing in it and learning from the ones that are involved in it from years ago.<br /></p></div>

    


</body>
</html>