<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./contact.css">
    <title>Contact me.</title>
</head>
<body>

    <div class="backhome"><a href="http://127.0.0.1:5000/">homepage</a></div>
    <div class="titulo"><h1>Contact me.</h1></div>
    <div class="servir"><h1>I'm at your service.</h1></div>
    
    <div class="lista"><p>Where to find me:<br />
        - GitHub user: <a href="https://github.com/danielcarias95">GitHub</a><br />
        - Email: 20205739@esen.edu.sv<br /></p></div>
    
</body>
</html>